<% include ./partials/header %>


<div class="ui main text container segment">
    <div class="ui huge header">Welcome TO Our Quiz</div>
    <a class="ui primary basic button" href="/quiz">Start Quiz</a>
</div>

<% include ./partials/footer %>
